node_modules
coverage
compiled
*.log
junit.xml
.idea
**/.DS_Store
.eslintcache
tsnode-cache
.task


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
.yarn/cache/*
